/*The sibling h4 of the red element should have a background color of red
The sibling h4 of the blue element should have background color of blue
.*/

header {
	border: 1px dotted blue;
}

nav ul li{
	display: inline;
	list-style-type: none;
	padding: 5px;

}

 span.disabled {
	color: grey;
	}

a.disabled {
color: purple;
}

span.active{
	color: yellow;
}

.parent div:nth-child(1) {
	color: red;
}

.parent div:nth-child(3)  {
	color: blue;
}

.grandparent > h4 {
	border: 1px solid black;
	border-radius: 2em;
}
.promo {
	color: gold;
	font-weight: bold;
}
input[type*="text"]{
	font-size: 25px;
}